
<form class="login">
        <p class="name-p">Начни свою рекламную кампанию</p>
        <h1>Войти в аккаунт.</h1>
        <p>Еще нет аккаунта? <a href="/signup">Зарегистрироваться</a></p>
        <div class="container-input">
        <input type="email" placeholder="Логин" id="login">
        <input type="password" placeholder="Пароль" id="password">
        <div class="error-label"></div>
        </div>
        <button>Войти</button>
</form>