
<form class="login">
        <h1>Начни свою рекламную кампанию</h1>
        <p>Войти в аккаунт.</p>
        <h2>Еще нет аккаунта? <a href="/signup">Зарегистрироваться</a></h2>

        <input type="email" placeholder="Логин" id="login">
        <input type="password" placeholder="Пароль" id="password">
        <div class="error-label"></div>
        <button>Войти</button>
</form>