
<form class="login">
        <h1>Начни свою рекламную кампанию</h1>
        <p>Войти в аккаунт.</p>
        <p>Еще нет аккаунта? <a href="#">Зарегистрироваться</a></p>

        <input type="text" placeholder="Логин">
        <input type="password" placeholder="Пароль">
        <button>Войти</button>
</form>