<form class="login-form">
    <p class="login-form__name">Начни свою рекламную кампанию</p>
    <h1 class="login-form__header">Войти в аккаунт.</h1>
    <p class="login-form__paragraph">Еще нет аккаунта? <a class="login-form__link" href="/signup">Зарегистрироваться</a></p>
    <div class="login-form__input">
        <input type="email" placeholder="Логин" id="login">
        <input type="password" placeholder="Пароль" id="password">
        <div class="login-form__error-button"></div>
    </div>
    <button class="login-form__login-button">Войти</button>
</form>