<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdHub</title>
   <!-- <link rel="stylesheet" href="../../static/css/login.css"> -->
    <link rel="stylesheet" href="../../static/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
</head>
<body>
<div id="root">
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                        <a href="#">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                        <a href="#">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                        <a href="#">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content">
            <div class="container">

    
                <div class="centered-box">
                    <div class="text-container">
                        <div class="image-container-logo">
                            <div style="position: relative; width: 104px; height: 104px; border-radius: 112.50px;">
                                <img src="../../static/img/image 14.png" style="width: 100%; height: 100%;" alt="">
                                <div style="position: absolute; bottom: 0; right: 0; width: 23px; height: 23px; background: #5E53B4; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
                                    <img src="../../static/svg/Arrow 2.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text-content">
                            <h1>Название компании</h1>
                            <h2>ООО “Яндекс”, младший менеджер в отделе продвижения</h2>
                            <h3>yandexMP1202@ya-corp.ru</h3>
                        </div>
                    </div>
                    <div class="info-container">
                        <h1>Общие сведения</h1>
                        <div class="wrapper">
                            <div class="card card-large">
                                <div class="title">Бюджет</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-wallet-482541-3.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                            <div class="card card-medium">
                                <div class="title">Объявления</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-wallet-482541-2.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                            <div class="card card-small">
                                <div class="title">Кампании</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-front-end-6489421 2-2.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                        </div>
                </div>
                <div class="footer-container">
                    <h1>Общие сведения</h1>
                    <div class="wrapper-card">
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image6.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                    
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image6.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image5.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                </div>
                </div>

                
            </div>
            <div class="lefted-box">
                <h1>Редактирование
                    профиля</h1>

                    <div class="input-container">
                        <!-- <label for="name1" class="input-label">Имя</label> -->
                        <input type="text" id="name1" class="input-field" placeholder="Имя">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name2" class="input-label">Имя</label> -->
                        <input type="text" id="name2" class="input-field" placeholder="Фамилия">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name3" class="input-label">Имя</label> -->
                        <input type="text" id="name3" class="input-field" placeholder="Почта">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name4" class="input-label">Имя</label> -->
                        <input type="text" id="name4" class="input-field" placeholder="Кампания">
                    </div>
                    <div class="input-container">
                        <!-- <label for="name4" class="input-label">Имя</label> -->
                        <input type="text" id="name4" class="input-field" placeholder="Пароль">
                    </div>
                    <div class="input-container">
                        <!-- <label for="name4" class="input-label">Имя</label> -->
                        <input type="text" id="name4" class="input-field" placeholder="Почта">
                    </div>

                    <div class="button-container">
                        <button class="custom-button">Сохранить</button>
                    </div>
            </div>
        </main>
    </div>
</div>
<img id="image" class="logo-right-bottom" class="list-none" src="static/img/logo_ad.png" alt="Описание изображения">
<script src="/handlebars/dist/handlebars.runtime.js"></script>
<script src="/components/login/login.precompiled.js"> </script>
<script src="/components/signup/signup.precompiled.js"> </script>
<script src="/components/list/list.precompiled.js"> </script>
<script type="module" src="./index.js"></script>
</body>
</html>
