    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                        <a href="/profile">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <main class="main-content">
            <div class="container">

    
                <div class="centered-box">
                    <div class="text-container">
                        <h1>Название компании</h1>
                        <h2>ООО “Яндекс”, младший менеджер в отделе продвижения</h2>
                        <h3>yandexMP1202@ya-corp.ru</h3>
                    </div>
                    <div class="info-container">
                        <h1>Общие сведения</h1>
                        <div class="wrapper">
                            <div class="card card-large">
                                <div class="title">Бюджет</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-wallet-482541-3.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                            <div class="card card-medium">
                                <div class="title">Объявления</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-wallet-482541-2.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                            <div class="card card-small">
                                <div class="title">Кампании</div>
                                <div class="line"></div>
                                <div class="border"></div>
                                <img class="icon" src="../../static/img/free-icon-front-end-6489421 2-2.png" />
                                <!-- ... остальные элементы внутри блока ... -->
                            </div>
                        </div>
                </div>
                <div class="footer-container">
                    <h1>Общие сведения</h1>
                    <div class="wrapper-card">
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image6.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                    
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image6.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                
                    <div class="info-card">
                        <img class="card-image" src="../../static/img/image5.png" />
                        <div class="card-title">Такси</div>
                        <div class="card-subtitle">Остатоок средств: 25.000,00 ₽</div>
                    </div>
                </div>
                </div>

                
            </div>
            <div class="lefted-box">
                
                <h1>Редактирование
                    профиля</h1>
    <form id="updateUserForm" method="post" enctype="multipart/form-data">
                    <input type="file" id="avatar" name="avatar">
                    <div class="input-container">
                        <!-- <label for="name1" class="input-label">Имя</label> -->
                        <input type="text" name="f_name" class="input-field" placeholder="Введите ваше имя">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name2" class="input-label">Имя</label> -->
                        <input type="text" name="l_name" class="input-field" placeholder="Введите вашу фамилию">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name3" class="input-label">Имя</label> -->
                        <input type="text" id="login" class="input-field" placeholder="Введите вашу почту">
                    </div>
                    
                    <div class="input-container">
                        <!-- <label for="name4" class="input-label">Имя</label> -->
                        <input type="text" id="password" class="input-field" placeholder="Пароль">
                    </div>
                
                    <div class="button-container">
                        <button class="save-button" type="submit">Сохранить</button>
                    </div>
                    </form>
            </div>
        </main>
    </div>