    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                            <a href="/company">Главная</a>
                        </div>  
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                            <a href="/company">Кампания</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                            <a href="#">Бюджет</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                            <a href="/audience">Аудитория</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                            <a href="#">Настройки</a>
                        </div>
                    </li>
                    <p>Profile</p>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                            <a href="/profile">Профиль</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                            <a href="#">Уведомления</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <main class="main-content">
                <div class="container">
                    <div class="centered-box">
                        <div class="text-info">
                            <img id="b_avatar"></img>
                            <div class="text-container">
                                <h1 id="b_fname">Название компании</h1>
                                <h2 id="b_company">ООО “Яндекс”, младший менеджер в отделе продвижения</h2>
                                <h2 id="b_login">yandexMP1202@ya-corp.ru</h2>
                            </div>
                        </div>
                        <div class="info-container">
                            <h1>Общие сведения</h1>
                            <div class="wrapper">
                                <div class="card card-large">
                                    <div class="title">Бюджет</div>
                                    <div class="line"></div>
                                    <div class="border">
                                        <div id="av_budget" style="margin-left: 5%;"></div>
                                    </div>
                                    <img class="icon" src="../../static/img/free-icon-wallet-482541-3.png" />
                                    <!-- ... остальные элементы внутри блока ... -->
                                </div>
                                <div class="card card-medium" style="margin-left:7%">
                                    <div class="title">Объявления</div>
                                    <div class="line"></div>
                                    <div class="border">
                                        <div id="ads" style="margin-left: 5%;"></div>
                                    </div>
                                    <img class="icon" src="../../static/img/free-icon-wallet-482541-2.png" />
                                    <!-- ... остальные элементы внутри блока ... -->
                                </div>
                            </div>
                        </div>
                        <div class="footer-container">
                            <h1>Активные объявления</h1>
                            <div class="wrapper-card"></div>
                        </div>
                    </div>

                    
                    <div class="lefted-box">  
                        <h1>Редактирование профиля</h1>
                        <form id="updateUserForm" method="post" enctype="multipart/form-data">
                            <label for="avatar" class="photo-upload-label" method="post" enctype="multipart/form-data">
                               <input type="file" id="avatar" class="file-input" name="avatar" accept="image/*">
                               <div class="gradient-box">Выберите фото</div>
                            </label>
                        {{!-- <form id="updateUserForm" method="post" enctype="multipart/form-data">
                        <div class="input-container">
                            <input type="file" id="avatar" name="avatar" class="input-field" accept="image/*">
                        </div> --}}
                            <div class="input-container">
                                <!-- <label for="name1" class="input-label">Имя</label> -->
                                <input type="text" name="f_name" class="input-field" placeholder="Введите ваше имя">
                            </div>
                        
                            <div class="input-container">
                             <!-- <label for="name2" class="input-label">Имя</label> -->
                                <input type="text" name="l_name" class="input-field" placeholder="Введите вашу фамилию">
                            </div>
                        
                            <div class="input-container">
                            <!-- <label for="name1" class="input-label">Имя</label> -->
                                <input type="text" name="s_name" class="input-field" placeholder="Введите название компании">
                            </div>

                            <div class="input-container">
                            <!-- <label for="name3" class="input-label">Имя</label> -->
                                <input type="text" id="login" class="input-field" placeholder="Введите вашу почту">
                            </div>
                        
                            <div class="input-container">
                            <!-- <label for="name4" class="input-label">Имя</label> -->
                                <input type="text" id="password" class="input-field" placeholder="Пароль">
                            </div>
                    
                            <div class="button-container" style="margin-left:8px">
                                <button class="save-button" type="submit">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
        </main>
    </div>