<div class="budget__background--block"></div>
<div class="budget__header--text">Пополнить баланс:</div>
<div class="budget_button budget__replenish--button">
  {{! <div class="budget__button__text">Пополнить</div> }}
  <div id="addBalanceBtn" class="budget__button__text">Пополнить</div>
</div>
<div
  class="budget_button budget__replenish--cancel--button"
  id="closeBudgetModal"
>
  <div class="budget__button__text">Отмена</div>
</div>
<div class="budget__currency--text">Руб.</div>
<div class="budget__input">
  <input
    type="number"
    id="amount"
    class="budget__input__field"
    placeholder="Сумма"
  />
</div>