
<div class="container">
    <div class="sidebar">
        <div class="logo-container">
            <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
            <div class="logo-text">
                <p>AdHub</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка главной">
                    <a href="/profilead">Главная</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка кампании">
                    <a href="/profilead">Кампания</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка бюджета">
                    <a href="#" id="budgetModalButton">Бюджет</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка аудитории">
                    <a href="/audience">Аудитория</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка настроек">
                    <a href="#">Настройки</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка профиля">
                    <a href="/profile">Профиль</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка уведомлений">
                    <a href="#">Уведомления</a>
                </li>
            </ul>
        </div>
    </div>
    <main class="profilead__main">
    <div id="budgetModal" class="budget">
       <div class="budget__background--block"></div>
        <div class="budget__header--text">Пополнить баланс:</div>
        <div class="budget_button budget__replenish--button">
            {{!-- <div class="budget__button__text">Пополнить</div> --}}
            <div id="addBalanceBtn" class="budget__button__text">Пополнить</div>
        </div>
        <div class="budget_button budget__replenish--cancel--button" id="closeBudgetModal">
            <div class="budget__button__text" >Отмена</div>
        </div>
        <div class="budget__currency--text">Руб.</div>
        <div class="budget__input">
            <input type="number" id="amount" class="budget__input__field" placeholder="Сумма">
        </div>
    </div>
    
        {{!-- <div id="budgetModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeBudgetModal">&times;</span>
            <h2>Пополнение баланса</h2>
            <p>Введите сумму для пополнения:</p>
            <input type="number" id="amount">
            <button id="addBalanceBtn">Пополнить</button>
        </div>
        </div> --}}

        <div class="profilead__main__container">
            <div class="profilead__main__container__left">
                <div class="profilead__main__container__left__adlayout">
                    <div id="profilead__main__container__left__adlayout__ads--list">
                    </div>
                        <div class="profilead__button--container">
                            <a href="/createad">
                                <button class="profilead__edit--button">
                                    Создать    
                                </button>
                            </a>
                        </div>
                    <div>

                    </div>
                </div>
            </div>

                <div class="profilead__main__centered--box" id="selected-ad">
                    <div class="content-wrapper">
                        <div class="text-blocks">
                            <div class="title">Bento 3D</div>
                            <div class="subtitle">Аудитория</div>
                            <div class="info-box">
                                <input type="text" class="info-input" placeholder="Аудитория"/>
                            </div>
                            
                            <div class="subtitle">Ссылка</div>
                            <div class="info-box">
                                <input type="text" class="info-input" placeholder="Введите ссылку"/>
                            </div>
                    </div>

                    <div class="description-box">
                        <input type="text" class="description-input" placeholder="Описание">
                    </div>

                </div>
                  <div class="earning-info-wrapper">
                        <div class="earning-info">
                            <div class="earning-title">Заработано</div>
                            <div class="earning-value">100</div>
                        </div>
                        <div class="earning-info">
                            <div class="earning-title">Заработано</div>
                            <div class="earning-value">100</div>
                        </div>
                        <div class="earning-info">
                            <div class="earning-title">Заработано</div>
                            <div class="earning-value">100</div>
                        </div>
                        <div class="earning-info">
                            <div class="earning-title">Заработано</div>
                            <div class="earning-value">100</div>
                        </div>
                    </div>
                <div class="ad-info-wrapper">
                    <div class="ad-box">
                        <input type="text" class="ad-input" placeholder="HTML">
                    </div>
                    <div class="ad-box">
                        <input type="text" class="ad-input" placeholder="JS">
                    </div>
                </div>

                <div class="profilead__box">
                    <button class="profilead__action-box" id="submitBtn">
                        <div class="profilead__bold-label">Редактировать</div>
                    </button>
                    <button class="profilead__сancel-box" id="cancelBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                            <rect x="1.5" y="1" width="18" height="18" rx="6" stroke="white" stroke-width="2"/>
                            <line x1="3.5" y1="10" x2="17.5" y2="10" stroke="white" stroke-width="2"/>
                        </svg>
                        <div class="profilead__bold-label">Отменить</div>
                    </button>
                </div>
        </div>
    </main>
</div>