

.audience-sidebar__logo-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* padding: 20px; */
}

.audience-sidebar__logo {
    width: 80px; /* Уменьшил размер логотипа */
    height: auto;
    margin-right: 10px; /* Добавил небольшой отступ между логотипом и текстом */
}

.audience-container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю (для одной высоты) */
    justify-content: space-between; /* Равномерное распределение между sidebar и main-content */
    padding: 0px;
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}

.audience-sidebar {
    width: 175px;
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #242832;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* border-radius: 35px; */
    position: fixed; /* Фиксируем на одном месте */
    top: 0; /* Прибиваем к верху */
    left: 0; /* Прибиваем к левому краю */
}


.audience-sidebar__menu ul {
    list-style-type: none;
    padding: 0;
}

.audience-sidebar__menu ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.audience-sidebar__menu ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    margin-left: 10px;
}

.audience-sidebar__menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.audience-sidebar__menu ul li a:hover {
    background-color: #6C5DD2;
}
.audience-sidebar__menu p{
    color: #61636A;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.audience-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
    margin-left: 175px;
    background-color: #1F2027;
}

.audience-content__container{
    display: flex;
    flex-direction: column;
    position: relative;
}


.ac__centered-box {
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    border-radius: 35px;
    width: 775px;
    height: 850px;
    gap: 20px;
    margin-right: 60px;
    background-color: #242832;
    padding: 20px; /* Добавляем отступы внутри блока */
}

.image-container {
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
.ad-text {
    color: white;
    font-size: 24px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center; 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: #fff;
}

.edit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.edit-button:hover {
    background-color: #513bde;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.centered-box .text-container {
    align-self: flex-start;   
    text-align: left;   
    margin-left: 15px;     
    color: white;
    /* width: 100%;             */
}

.text-container h1{
    font-size: 24px;
}
.text-container h2{
    font-size: 16px;
}
.text-container h3{
    font-size: 14px;
}

.info-card {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 40px;
}
.info-card:hover {
    background-color: #261f8b; 
}

.circle {
    width: 57px;
    height: 50px;
    left: 30px;
    top: 0px;
    position: absolute;
    border-radius: 16px;
}

.rectangle {
    width: 264px;
    height: 63.82px;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 15px;
}

.text-title, .text-large, .text-status, .currency {
    position: absolute;
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.text-title {
    left: 95px;
    top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.text-large {
    left: 40px;
    top: 4px;
    font-size: 32px;
    font-weight: 700;
}

.text-status {
    left: 96px;
    top: 25px;
    font-size: 14px;
    font-weight: 400;
}

.currency {
    left: 6px;
    top: 12px;
    font-size: 20px;
    font-weight: 400;
}


.audience-block__region-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 40px
}

.audience-block__region-title {
    margin-right: 10px; /* Отступ между "Выбранные регионы:" и иконкой */
}

.audience-block__region-details {
    display: flex;
    align-items: center;
}

.audience-block__icon {
    margin-right: 10px; /* Отступ между иконкой и "Балашихой" */
}

.audience-block__icon > div {
    width: 8px;
    height: 8px;
    position: relative;
}

.audience-block__icon > div > div {
    width: 8px;
    height: 8px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #705FCF;
    border-radius: 9999px;
    margin-top: 5px;

}

.audience-block__region-name {
    margin-top: 10px;
}

.audience-content__custom-button {
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.audience-content__button-content {
    width: 180px;
    height: 42px;
    padding: 10px;
    background: #131517;
    border-radius: 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
}

.audience-content_plus-icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.audience-content__circle-border {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 1.2px white solid;
}

.audience-content__horizontal-line {
    width: 14px;
    height: 0px;
    left: 3px;
    top: 11px;
    position: absolute;
    border: 1px white solid;
}

.audience-content__vertical-line {
    width: 17.5px;
    height: 0px;
    left: 11.8px;
    top: 1px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}

.audience-content__button-text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}
.audience-block__left-block, .audience-block__right-block {
    flex: 1;
    box-sizing: border-box
}
.audience-block__container-title {
    width: 340px;
    height: 403px;
    background: #323644;
    border-radius: 20px;
    padding: 8px 17px 0 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: flex-start;
}

.audience-block__label {
    color: white;
    font-size: 14px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
}

.input-field {
    width: 308px;
    height: 35px;
    background: #242832;
    color: white;
    font-size: 14px;
    font-family: Istok Web;
    font-weight: 400;
    border-radius: 14px;
    transition: border-radius 0.3s; 
    border: 1px solid #242832;
}

.input-field:focus {
    /* border-radius: 50px;  */
    border: 1px solid #513bde;
}
.input-field ::placeholder{
    text-align: right;
    padding-right: 1px;
}
.audience-block__custom-dropdown {
    position: relative;
    display: inline-block;
}

.audience-block__custom-dropdown .dropdown-content {
    display: none;
    position: absolute;
    /* background: #000; */
    color: white;
    min-width: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    z-index: 1;
    font-family: 'Istok Web', sans-serif;
}

.audience-block__custom-dropdown .dropdown-content div {
    padding: 10px;
    /* border-bottom: 1px solid #333; */
}

.audience-block__custom-dropdown .dropdown-content div:last-child {
    border-bottom: none;
}

.audience-block__custom-dropdown .arrow-icon {
    margin-top: 30px;
    font-size: 16px;
    color: white;
    margin-left: 5px;
}

/* Отображение выпадающего меню при наведении */
.audience-block__custom-dropdown:hover .dropdown-content {
    display: block;
}
.interests-box {
    width: 340px;
    height: 186px;
    padding: 8px 17px;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
.audience-block__gradient-box {
    width: 380px;
    height: 190px;
    background: linear-gradient(0deg, #323644 0%, #323644 100%);
    border-radius: 23px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audience-block__text-entry-label {
    width: 100%;
}

.audience-block__text-upload-label:hover .gradient-box {
    border: 2px solid rgba(68, 44, 177, 0.5); 
}
.audience-block__text-input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background: transparent;
    color: white;
    outline: none;
}

.audience-block__demographics-info {
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    /* word-wrap: break-word; */
    display: flex;
    justify-content: space-between;
}
.audience-block__info-column {
    flex: 1; 
    margin-right: 20px;
}
.audience-block__info-item {
    font-size: 12px;
    margin-top: 20px;
}
.audience-block__info-item-right{
    margin-top: 20px;
    font-size: 16px;
}
.audience-block__age-range-wrapper {
    display: flex; 
    gap: 10px; /* Добавляем пространство между двумя блоками age-range */
}

.audience-block__age-range {
    width: 65px;
    height: 35px;
    padding: 4px 17px;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.34px;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}
.audience-block__btn-container {
    position: absolute;
    /* margin-top: 150px; */
    bottom: 50px; 
    margin-left:150px; 
    /* transform: translateX(-25%);  */
    display: flex; /* чтобы кнопки располагались в ряд */
    gap: 10px; /* расстояние между кнопками */
    /* padding-right: 100px; */
}
.audience-block__btn-text {
    word-wrap: break-word;
}

.audience-block__cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

/* .horizontal-line, .vertical-line {
    position: absolute;
    height: 2px;
    width: 14px;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: 50% 50%;
} */

.audience-block__btn {
    width: 220px;
    height: 52px;
    padding: 10px;
    border-radius: 19px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: none;
    cursor: pointer;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    outline: none; 
    transition: background-color 0.2s ease;
}

.audience-block__edit-btn {
    background: #131517;
color: white;
}

.audience-block__delete-btn {
background: #AD4343;
color: white;
gap: 20px;
}
.ad-text {
    color: white;
    font-size: 24px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center; 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: #fff;
}

.edit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.edit-button:hover {
    background-color: #513bde;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.centered-box .text-container {
    align-self: flex-start;   
    text-align: left;   
    margin-left: 15px;     
    color: white;
    /* width: 100%;             */
}

.text-container h1{
    font-size: 24px;
}
.text-container h2{
    font-size: 16px;
}
.text-container h3{
    font-size: 14px;
}

.info-card {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 40px;
}
.info-card:hover {
    background-color: #261f8b; 
}

.circle {
    width: 57px;
    height: 50px;
    left: 30px;
    top: 4px;
    position: absolute;
    border-radius: 16px;
}

.rectangle {
    width: 264px;
    height: 63.82px;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 15px;
}

.text-title, .text-large, .text-status, .currency {
    position: absolute;
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.text-title {
    left: 95px;
    top: 10px;
    font-size: 16px;
    font-weight: 700;
}

.text-large {
    left: 40px;
    top: 9px;
    font-size: 32px;
    font-weight: 700;
}

.text-status {
    left: 95px;
    top: 30px;
    font-size: 14px;
    font-weight: 400;
}

.currency {
    left: 6px;
    top: 12px;
    font-size: 20px;
    font-weight: 400;
}


.region-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 40px
}

.region-title {
    margin-right: 10px; /* Отступ между "Выбранные регионы:" и иконкой */
}

.region-details {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px; /* Отступ между иконкой и "Балашихой" */
}

.icon > div {
    width: 8px;
    height: 8px;
    position: relative;
}

.icon > div > div {
    width: 8px;
    height: 8px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #705FCF;
    border-radius: 9999px;
    margin-top: 5px;

}

.region-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.region-name::before {
    content: "";
    margin-right: 20px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #705FCF;
    border-radius: 100%;
}

.custom-button {
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.button-content {
    width: 180px;
    height: 42px;
    padding: 10px;
    background: #131517;
    border-radius: 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
}

.plus-icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.circle-border {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 1.2px white solid;
}

.horizontal-line {
    width: 14px;
    height: 0px;
    left: 3px;
    top: 11px;
    position: absolute;
    border: 1px white solid;
}

.vertical-line {
    width: 17.5px;
    height: 0px;
    left: 11.8px;
    top: 1px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}

.button-text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}
.left-block, .right-block {
    flex: 1;
    box-sizing: border-box
}
.container-title {
    width: 340px;
    height: 403px;
    background: #323644;
    border-radius: 20px;
    padding: 8px 17px 0 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: flex-start;
}

.label {
    color: white;
    font-size: 14px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
}

.input-field {
    width: 308px;
    height: 35px;
    background: #242832;
    color: white;
    font-size: 14px;
    font-family: Istok Web;
    font-weight: 400;
    border-radius: 14px;
    transition: border-radius 0.3s; 
    border: 1px solid #242832;
}

.input-field:focus {
    /* border-radius: 50px;  */
    border: 1px solid #513bde;
}
.input-field ::placeholder{
    text-align: right;
    padding-right: 1px;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown .dropdown-content {
    display: none;
    position: absolute;
    /* background: #000; */
    color: white;
    min-width: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    z-index: 1;
    font-family: 'Istok Web', sans-serif;
}

.custom-dropdown .dropdown-content div {
    padding: 10px;
    /* border-bottom: 1px solid #333; */
}

.custom-dropdown .dropdown-content div:last-child {
    border-bottom: none;
}

.custom-dropdown .arrow-icon {
    margin-top: 30px;
    font-size: 16px;
    color: white;
    margin-left: 5px;
}

/* Отображение выпадающего меню при наведении */
.custom-dropdown:hover .dropdown-content {
    display: block;
}
.interests-box {
    width: 340px;
    height: 186px;
    padding: 8px 17px;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
.gradient-box {
    width: 380px;
    height: 100px;
    background: linear-gradient(0deg, #323644 0%, #323644 100%);
    border-radius: 23px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-entry-label {
    width: 100%;
}

.text-upload-label:hover .gradient-box {
    border: 2px solid rgba(68, 44, 177, 0.5); 
}
.text-input {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background: transparent;
    color: white;
    outline: none;
}

.demographics-info {
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    /* word-wrap: break-word; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-column {
    flex: 1; 
    margin-right: 20px;
}
.info-item {
    font-size: 12px;
    margin-top: 20px;
}
.info-item-right{
    margin-top: 20px;
    font-size: 16px;
}
.age-range-wrapper {
    display: flex; 
    gap: 10px; /* Добавляем пространство между двумя блоками age-range */
}

.age-range {
    width: 65px;
    height: 35px;
    padding: 4px 17px;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.34px;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}
.btn-container {
    position: absolute;
    /* margin-top: 150px; */
    bottom: 50px; 
    margin: 0 auto;
    width: 775px;
    /* transform: translateX(-25%);  */
    display: flex; /* чтобы кнопки располагались в ряд */
    gap: 10px; /* расстояние между кнопками */
    justify-content: center;
    /* padding-right: 100px; */
}
.btn-text {
    word-wrap: break-word;
}

.cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

/* .horizontal-line, .vertical-line {
    position: absolute;
    height: 2px;
    width: 14px;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: 50% 50%;
} */

.btn {
    width: 220px;
    height: 52px;
    padding: 10px;
    border-radius: 19px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: none;
    cursor: pointer;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    outline: none; 
    transition: background-color 0.2s ease;
}

.edit-btn {
    background: #131517;
    color: white;
}

.delete-btn {
    background: #AD4343;
    color: white;
    gap: 20px;
}

.audience__region-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1280px) {
    .audience-content {
        margin-top: 50px;
        margin-left: 0;
    }

    .audience-content__lefted-box {
        width: 775px !important;
        width: 100%;
        max-height: 200px;
        margin-left: 0;
        margin: 0 auto !important;
    }

    .audience-content__centered-box {
        position: relative;
        margin-left: 0;
        margin-top: 20px;
        margin: 20px auto !important;
    }

    .ac__centered-box {
        margin: 50px auto !important;
    }

    .btn-container{ 
        margin-bottom: 25px;
    }
}
