.company__main {
    background-color: #1F2027;
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
    margin-left: 175px;  /* Это соответствует ширине вашего sidebar */

}

.company__main__container {
    display: flex;
    justify-content: space-between; /* Размещаем блоки с пробелом между ними */
    align-items: flex-start; /* Выравниваем блоки сверху */
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}

.company__main__container__left {
    width: 25%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 35px;
    height: 900px;
    text-align: center;
    background-color: #242832;
}


.company__main__centered--box {
    flex: 0 0 70%; /* Занимаем 75% ширины контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
    justify-content: center;
    border-radius: 35px;
    height: 860px;
    background-color: #242832;
    padding: 20px; /* Добавляем отступы внутри блока */
}

.image-container {
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text {
    color: #fff;
}

.company__main__container__left__adlayout {
    flex-direction: column;
    height: 100%; /* Добавьте это, чтобы .adlayout занимал всю высоту .lefted-box */
}

.button-container {
    margin-top: auto; /* Это прибьет .button-container к низу .adlayout */
    width: 100%; /* Для соответствия ширине контейнера */
}

.company__edit--button {
    background-color: #131517;
    color: white;
    border: none;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto; /* Центрирование кнопки в .button-container */
}

.company__edit--button:hover {
    background-color: #2d2d2d;
}

.company__ad__button--unique {
    background-color: #131517;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--unique:hover {
    background-color: #2d2d2d;
}

.company__ad__button--edit {
    background-color: #131517;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--edit:hover {
    background-color: #2d2d2d;
}

.company__ad__button--delete {
    background-color: rgb(188, 51, 51);
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--delete:hover {
    background-color: #e86a6a;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.company__main__centered--box .text-container {
    align-self: flex-start;   
    text-align: left;   
    margin-left: 15px;     
    color: white;
    /* width: 100%;             */
}

.text-container h1{
    font-size: 24px;
}
.text-container h2{
    font-size: 16px;
}
.text-container h3{
    font-size: 14px;
}

.company__info-card {
    height: 50px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 0; 
    padding: 2%;
}

.arrow-svg {
    position: absolute;
    left: 0; /* Вы можете настроить это значение, чтобы подвинуть SVG к 'company__ad__element--current__status' */
    top: 50%;
    transform: translateY(-50%);
}
.company__ad__element--current__status {
    /* position: relative; */
    /* z-index: 1; */
    width: 57px;
    height: 50px;
    left: 30px;
    top: 0px;
    position: absolute;
    border-radius: 16px;
}

.rectangle {
    width: 264px;
    height: 63.82px;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 15px;
}

.company__info__text--title, .company__info__text--large, .company__info__text--status, .currency {
    position: absolute;
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.company__info__text--title {
    left: 95px;
    top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.company__info__text--large {
    left: 38px;
    top: 4px;
    font-size: 32px;
    font-weight: 700;
}

.company__info__text--status {
    left: 110px;
    top: 25px;
    font-size: 14px;
    font-weight: 400;
}

.currency {
    left: 6px;
    top: 12px;
    font-size: 20px;
    font-weight: 400;
}

.company__info__status--dot {
    width: 9px;
    height: 9px;
    left: 95px;
    top: 30px;
    position: absolute;
    border-radius: 9999px;
}
.container-block{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    padding: 0;
}
.container-block svg {
    flex-shrink: 0; /* Предотвратить сжатие SVG */
    margin-right: 10px; /* Добавить небольшой отступ справа, если необходимо */
}

.company__info-card:hover {
    background-color: #7f73c6; 
    border-radius: 15px;
}
.company__info-card {
    width: 80%;
    cursor: pointer; 
    transition: transform 0.1s; 
}

.company__info-card:active {
    background-color: #705FCF; 
}

.company__ad__box--title, .company__ad__box--subtitle, .box-description {
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.company__ad__box--title {
    font-size: 28px;
    font-weight: 700;
}

.company__ad__box--subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.box-description {
    font-size: 14px;
    font-weight: 400;
}
.company__ad__description--title {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    /* text-align: center;  */
    word-wrap: break-word;
    margin-top: 15%;
    margin-bottom: 10px;

}
.company__ad__description--text{
    width: 400px;
    height: 352px;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    /* text-align: justify;  */
    /* margin-top: 20px; */
}
.company__ad__container--selected{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
}
.company__box--image {
    /* top: 0; */
    /* flex: 1; */
    width: 100%; /* Изображение занимает 90% ширины своего контейнера */
    height: 45%;
    border-radius: 23px;
}
.company__ad__content {
    flex: 1;
    display: flex;
    margin-top: 20px; /* Расстояние от изображения до блоков ниже */
}

.company__ad--left, .company__ad--right {
    text-align: left;
    display: flex;
    flex: 0;
    flex-direction: column;
}

.company__ad--left {
    margin-right: 10%;
    width: 50%;
}

.company__ad--right {
    width: 40%;
}
.company__ad__buttons {
    flex: 1;
    display: flex;
    justify-content: center;
}
.company__ad__button--unique, .company__ad__button--edit, .company__ad__button--delete {
    margin: 0 10px; /* Расстояние между кнопками */
}
#company__main__container__left__adlayout__ads--list {
    max-height: 500px; 
    overflow-y: auto; /* Включает вертикальную прокрутку, если содержимое выходит за пределы */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрывает кнопки увеличения/уменьшения в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#photo_company {
    height: 420px;
}

.company__ad__element--current {
    margin-top: 10%;
    margin-left: 10%;
}

.company__info-card__items{
    position: relative;
    margin-left: 5%;
}

.blurred-background {
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 1280px) {
    .company__main {
        margin-top: 25px;
        margin-left: 0;
    }

    .company__main__container {
        flex-direction: column;
    }

    .company__main__container__left {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
        overflow: auto;
    }

    .company__main__centered--box {
        flex: auto;
        width: 96%;
        height: 700px;
    }

    .company__ad__element--current {
        margin-top: 0;
    }

    .company__info-card {
        margin-top: 10px;
    }
}
