.company__main {
    background-color: #1F2027;
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
    margin-left: 175px;  /* Это соответствует ширине вашего sidebar */

}

.company__main__container {
    display: flex;
    justify-content: space-between; /* Размещаем блоки с пробелом между ними */
    align-items: flex-start; /* Выравниваем блоки сверху */
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}

.company__main__container__left {
    width: 25%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 35px;
    height: 980px;
    text-align: center;
    background-color: #242832;
}


.company__main__centered--box {
    flex: 0 0 70%; /* Занимаем 75% ширины контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
    justify-content: center;
    border-radius: 35px;
    height: 940px;
    background-color: #242832;
    padding: 20px; /* Добавляем отступы внутри блока */
}

.image-container {
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text {
    color: #fff;
}

.company__main__container__left__adlayout {
    display: flex;
    flex-direction: column;
    height: 100%; /* Добавьте это, чтобы .adlayout занимал всю высоту .lefted-box */
}

.button-container {
    margin-top: auto; /* Это прибьет .button-container к низу .adlayout */
    width: 100%; /* Для соответствия ширине контейнера */
}

.company__edit--button {
    background-color: #131517;
    color: white;
    border: none;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto; /* Центрирование кнопки в .button-container */
}

.company__edit--button:hover {
    background-color: #2d2d2d;
}

.company__ad__button--unique {
    background-color: #131517;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--unique:hover {
    background-color: #2d2d2d;
}

.company__ad__button--edit {
    background-color: #131517;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--edit:hover {
    background-color: #2d2d2d;
}

.company__ad__button--delete {
    background-color: rgb(188, 51, 51);
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    width: 165px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.company__ad__button--delete:hover {
    background-color: #e86a6a;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.company__main__centered--box .text-container {
    align-self: flex-start;   
    text-align: left;   
    margin-left: 15px;     
    color: white;
    /* width: 100%;             */
}

.text-container h1{
    font-size: 24px;
}
.text-container h2{
    font-size: 16px;
}
.text-container h3{
    font-size: 14px;
}

.company__info-card {
    height: 50px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 0; 
    padding: 0;
}

.arrow-svg {
    position: absolute;
    left: 0; /* Вы можете настроить это значение, чтобы подвинуть SVG к 'company__ad__element--current__status' */
    top: 50%;
    transform: translateY(-50%);
}
.company__ad__element--current__status {
    /* position: relative; */
    /* z-index: 1; */
    width: 57px;
    height: 50px;
    left: 30px;
    top: 0px;
    position: absolute;
    border-radius: 16px;
}

.rectangle {
    width: 264px;
    height: 63.82px;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 15px;
}

.company__info__text--title, .company__info__text--large, .company__info__text--status, .currency {
    position: absolute;
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.company__info__text--title {
    left: 95px;
    top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.company__info__text--large {
    left: 38px;
    top: 4px;
    font-size: 32px;
    font-weight: 700;
}

.company__info__text--status {
    left: 110px;
    top: 25px;
    font-size: 14px;
    font-weight: 400;
}

.currency {
    left: 6px;
    top: 12px;
    font-size: 20px;
    font-weight: 400;
}

.company__info__status--dot {
    width: 9px;
    height: 9px;
    left: 95px;
    top: 30px;
    position: absolute;
    border-radius: 9999px;
}
.container-block{
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    padding: 0;
}
.container-block svg {
    flex-shrink: 0; /* Предотвратить сжатие SVG */
    margin-right: 10px; /* Добавить небольшой отступ справа, если необходимо */
}

.company__info-card:hover {
    background-color: #7f73c6; 
    width: 80%;
    padding: 2%;;
    border-radius: 15px;
}
.company__info-card {
    cursor: pointer; 
    transition: transform 0.1s; 
}

.company__info-card:active {
    background-color: #705FCF; 
}

.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.button-content {
    width: 146px;
    height: 52px;
    padding: 10px;
    background: #131517;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
}

.plus-icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.circle-border {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 1.2px white solid;
}

.horizontal-line {
    width: 14px;
    height: 0px;
    left: 3px;
    top: 11px;
    position: absolute;
    border: 1px white solid;
}

.vertical-line {
    width: 17.5px;
    height: 0px;
    left: 11.8px;
    top: 1px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}

.budget__button__text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
  }
  



.company__ad__box--title, .company__ad__box--subtitle, .box-description {
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.company__ad__box--title {
    font-size: 28px;
    font-weight: 700;
}

.company__ad__box--subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.box-description {
    font-size: 14px;
    font-weight: 400;
}
.company__ad__description--title {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    /* text-align: center;  */
    word-wrap: break-word;
    margin-top: 15%;
    margin-bottom: 10px;

}
.company__ad__description--text{
    width: 400px;
    height: 352px;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    /* text-align: justify;  */
    /* margin-top: 20px; */
}
.company__ad__container--selected{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
}
.company__box--image {
    /* top: 0; */
    /* flex: 1; */
    width: 100%; /* Изображение занимает 90% ширины своего контейнера */
    height: 45%;
    border-radius: 23px;
}
.company__ad__content {
    flex: 1;
    display: flex;
    margin-top: 20px; /* Расстояние от изображения до блоков ниже */
}

.company__ad--left, .company__ad--right {
    text-align: left;
    display: flex;
    flex: 0;
    flex-direction: column;
}

.company__ad--left {
    margin-right: 10%;
    width: 50%;
}

.company__ad--right {
    width: 40%;
}
.company__ad__buttons {
    flex: 1;
    display: flex;
    justify-content: center;
}
.company__ad__button--unique, .company__ad__button--edit, .company__ad__button--delete {
    margin: 0 10px; /* Расстояние между кнопками */
}
#company__main__container__left__adlayout__ads--list {
    max-height: 500px; 
    overflow-y: auto; /* Включает вертикальную прокрутку, если содержимое выходит за пределы */
}

.budget {
    display: none; /* скрыть по умолчанию */
    width: 380px;
    height: 272px;
    z-index: 1;
    position: fixed;
    /* z-index: 999; */
    top: 50%; /* центрирование по вертикали */
    left: 50%; /* центрирование по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
}
.budget__background--block {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #242832;
    border-radius: 34px;
}
.budget__header--text, .budget__currency--text, .input-text, .budget__button__text {
    position: absolute;
    color: white;
    font-family: 'Istok Web', sans-serif;
    word-wrap: break-word;
}

.budget__header--text {
    left: 88px;
    top: 19px;
    font-size: 20px;
    font-weight: 700;
}

.budget_button {
    width: 143px;
    height: 50px;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.budget__replenish--cancel--button {
    background: #AD4343;
    left: 28px;
    top: 177px;
    margin-right: 20px;
}

.budget__replenish--button {
    background: #131517;
    left: 185px;
    top: 176px;
    margin-left: 20px;
}

.budget__currency--text {
    margin-left: 40px;
    left: 297px;
    top: 109px;
    font-size: 16px;
    font-weight: 400;
}
.budget__input {
    width: 263px;
    height: 70px;
    padding: 8px 17px;
    position: absolute;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Выравнивание по центру по вертикали */
    gap: 10px;
    left: 28px;
    top: 74px;
}
.budget__input__field {
    width: 100%; /* Занимает всю доступную ширину в контейнере */
    height: 100%; /* Занимает всю доступную высоту в контейнере */
    border: none;
    background: transparent; /* Прозрачный фон */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    border-radius: 20px; /* Скругление углов */
    padding: 0 10px; /* Небольшой отступ слева и справа */
}


.budget__input__field:focus {
    outline: none;
   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Скрывает кнопки увеличения/уменьшения в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#photo_company {
    height: 420px;
}

.company__ad__element--current {
    margin-top: 10%;
    margin-left: 10%;
}

.company__info-card__items{
    position: relative;
    margin-left: 5%;
}

.blurred-background {
    backdrop-filter: blur(5px);
  }