
body {
    font-family: 'Istok Web', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    font-weight: 700; /* Применить полужирное начертание к заголовкам (если необходимо) */
}
  body {
    background-color: #1F2027;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo-right-bottom {
    display: none;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.main-content {
    background-color: #1F2027;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* padding: 20px; */
}

.logo-container img {
    width: 32px;
    height: 46px;
}

.logo {
    width: 80px; /* Уменьшил размер логотипа */
    height: auto;
    margin-right: 10px; /* Добавил небольшой отступ между логотипом и текстом */
}

.logo-text p {
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 20px; /* Изменил размер шрифта для текста рядом с логотипом */
}

.container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю (для одной высоты) */
    justify-content: space-between; /* Равномерное распределение между sidebar и main-content */
    padding: 0px;
}

.sidebar {
    width: 175px;
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #242832;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* border-radius: 35px; */
    position: fixed; /* Фиксируем на одном месте */
    top: 0; /* Прибиваем к верху */
    left: 0; /* Прибиваем к левому краю */
}


.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.menu ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    margin-left: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.menu ul li a:hover {
    background-color: #6C5DD2;
}
.menu p{
    color: #61636A;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
    margin-left: 175px;  /* Это соответствует ширине вашего sidebar */

}

.container {
    display: flex;
    justify-content: center; /* Размещаем блоки с пробелом между ними */
    align-items: flex-start; /* Выравниваем блоки сверху */
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}


.centered-box {
    flex: 0 0 90%; 
    /* max-width: 90%;   добавьте это свойство */
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: start;
    border-radius: 35px;
    height: 940px;
    background-color: #242832;
    padding: 20px; 
    gap: 20px; 
    position: relative;
    box-sizing: border-box;
    /* overflow: hidden;  добавьте это свойство, если хотите обрезать содержимое, выходящее за границы */
}


.left-block, .right-block {
    flex: 1;
    box-sizing: border-box
}
.left-block{
    margin-right: 20px;
}
.centered-box .container {
    background: #323644;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    padding: 4px 17px;
}

.centered-box .container.small {
    width: 263px;
    height: 70px;
}

.centered-box .container.medium {
    width: 347px;
    height: 70px;
    margin-left: 36px;
}

.centered-box .container.large {
    width: 512px;
    height: 70px;
}
.flex-row {
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали */
    gap: 10px; /* Расстояние между элементами */
}
.centered-box .container.xlarge {
    width: 676px;
    height: 70px;
}

.centered-box .container.xxlarge {
    width: 676px;
    height: 224px;
}
/* .container.large {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
} */
.button-container {
    display: flex;
    align-items: center;
    background: #131517;
    border-radius: 20px;
    padding: 10px;
    width: 152px;
    height: 70px;
    border: none;
    cursor: pointer;
    justify-content: center;
    gap: 10px;
    outline: none; /* Убирает стандартный outline */
    transition: background-color 0.2s ease; /* Добавляет плавный переход для фона кнопки */
}

.button-container:hover {
    background: #2a2a2a; /* Изменяет цвет фона кнопки при наведении */
}

.button-container:active {
    background: #0b0b0b; /* Изменяет цвет фона кнопки при нажатии */
}

.cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

.horizontal-line, .vertical-line {
    position: absolute;
    height: 2px;
    width: 14px;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: 50% 50%;
}

.horizontal-line {
    transform: translate(-50%, -50%);
}

.vertical-line {
    transform: translate(-50%, -50%) rotate(90deg);
}

.button-text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}

.text-input {
    flex-grow: 1; 
    margin-right: 10px; 
}



.text {
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}
.text-input, .text-input:focus {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    color: white;  
    box-sizing: border-box; 
}

.text-input textarea {
    resize: vertical;  
}

.label {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web';
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.gradient-box {
    width: 426px;
    height: 417px;
    background: linear-gradient(0deg, #323644 0%, #323644 100%);
    border-radius: 23px;
    margin-bottom: 20px;

}
.file-input {
    display: none; 
}

.photo-upload-label:hover .gradient-box {
    border: 2px solid rgba(68, 44, 177, 0.5); 
}

.btn-container {
    display: flex;
    align-items: center; 
    gap: 30px; 
}


.btn {
    width: 262px;
    height: 72px;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: none;
    cursor: pointer;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    outline: none; 
    transition: background-color 0.2s ease;
}

.btn:hover {
    filter: brightness(0.9);
}

.edit-btn {
    background: #131517;
    color: white;
}

.delete-btn {
    background: #AD4343;
    color: white;
    gap: 20px;
}

.btn-text {
    word-wrap: break-word;
}

.cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

.horizontal-line, .vertical-line {
    position: absolute;
    height: 2px;
    width: 14px;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: 50% 50%;
}

.horizontal-line {
    transform: translate(-50%, -50%);
}

.vertical-line {
    transform: translate(-50%, -50%) rotate(90deg);
}
.preview-img {
    width: 386px;
    height: 334px;
    border-radius: 23px;
}
.content-title{
    color: white;
}
.content-description{
    color: white;
}

.centered-banner {
    display: none; /* скрыть по умолчанию */
    width: 606px;
    height: 201px;
    position: fixed; /* используйте fixed для позиционирования над всеми элементами */
    z-index: 999;
    top: 50%; /* центрирование по вертикали */
    left: 50%; /* центрирование по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
}

/* Стили для затемнения фона */
.overlay {
    display: none; /* скрыть по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* полупрозрачный черный */
    z-index: 998; /* ниже, чем модальное окно */
}

.banner-background {
    width: 606px;
    height: 201px;
    position: relative;
    background: #242832;
    border-radius: 34px;
}

.banner-text {
    position: absolute;
    left: 57px;
    top: 28px;
    color: white;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.button {
    width: 262px;
    height: 65px;
    /* padding: 10px; */
    position: absolute;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.confirm-button {
    left: 25px;
    top: 102px;
    background: #AD4343;
}

.confirmation-cancel-button {
    left: 320px;
    top: 103px;
    background: #131517;
}

.button-icon {
    width: 20px;
    height: 20px;
    position: relative;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 2px white solid;
    /* Дополнительные стили для иконки, если нужны */
}

.button-text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.outer-container {
    display: none; /* скрыть по умолчанию */
    width: 380px;
    height: 272px;
    position: fixed; /* используйте fixed для позиционирования над всеми элементами */
    z-index: 999;
    top: 50%; /* центрирование по вертикали */
    left: 50%; /* центрирование по горизонтали */
    transform: translate(-50%, -50%); /* точное центрирование */
}

.background-block {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #242832;
    border-radius: 34px;
}

.header-text, .currency-text, .input-text, .button-text {
    position: absolute;
    color: white;
    font-family: 'Istok Web', sans-serif;
    word-wrap: break-word;
}

.header-text {
    left: 88px;
    top: 19px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    width: 143px;
    height: 50px;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.replenish-button {
    background: #AD4343;
    left: 28px;
    top: 177px;
    margin-right: 20px;
}

.replenish-cancel-button {
    background: #131517;
    left: 185px;
    top: 176px;
    margin-left: 20px;
}

.currency-text {
    margin-left: 40px;
    left: 297px;
    top: 109px;
    font-size: 16px;
    font-weight: 400;
}

.input-container {
    width: 263px;
    height: 70px;
    padding: 8px 17px;
    position: absolute;
    background: #323644;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Выравнивание по центру по вертикали */
    gap: 10px;
    left: 28px;
    top: 74px;
}

.input-field {
    width: 100%; /* Занимает всю доступную ширину в контейнере */
    height: 100%; /* Занимает всю доступную высоту в контейнере */
    border: none;
    background: transparent; /* Прозрачный фон */
    color: white; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    border-radius: 20px; /* Скругление углов */
    padding: 0 10px; /* Небольшой отступ слева и справа */
}


.input-field:focus {
    outline: none;
   
}