
  body {
    font-family: 'Istok Web', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    font-weight: 700; /* Применить полужирное начертание к заголовкам (если необходимо) */
}
  body {
    background-color: #1F2027;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo-right-bottom {
    display: none;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.main-content {
    background-color: #1F2027;
}

.logo-container {
    display: flex;
    align-items: center;
    /* padding: 20px; */
}

.logo {
    width: 80px; /* Уменьшил размер логотипа */
    height: auto;
    margin-right: 10px; /* Добавил небольшой отступ между логотипом и текстом */
}

.logo-text p {
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 20px; /* Изменил размер шрифта для текста рядом с логотипом */
}

.container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю (для одной высоты) */
    justify-content: space-between; /* Равномерное распределение между sidebar и main-content */
    padding: 0px;
}

.sidebar {
    width: 175px;
    margin-top: 40px;
    background-color: #242832;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    /* flex:1; */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.menu ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    margin-left: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.menu ul li a:hover {
    background-color: #6C5DD2;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
}

.container {
    display: flex;
    justify-content: space-between; /* Размещаем блоки с пробелом между ними */
    align-items: flex-start; /* Выравниваем блоки сверху */
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}

.lefted-box {
    max-width: 266;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 35px;
    height: 940px;
    text-align: center;
    background-color: #242832;
    padding: 33px 20px 20px 20px;
}


.centered-box {
    flex: 0 0 70%; /* Занимаем 75% ширины контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 35px;
    height: 940px;
    text-align: center;
    background-color: #242832;
    padding: 20px; /* Добавляем отступы внутри блока */
}

.image-container {
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text {
    color: #fff;
}

.edit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.edit-button:hover {
    background-color: #513bde;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.adlayout {
    width: 224px;
    height: 99px;
    flex-shrink: 0;
}

.adDateImageLayout{
    width: 57px;
    height: 57.582px;
    flex-shrink: 0;
}

.adDateImageLayout {
    position: relative;
    width: 57px;
    height: 57.582px;
    flex-shrink: 0;
    background-image: url('../svg/dateElemet.svg');
    background-size: cover; 
}

.adDateImageText {
    color: #FFF;
    font-family: Istok Web;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dateText {
    font-size: 20px;
    margin-top: 8px;
}

.adNameText{
    color: #FFF;
font-family: Istok Web;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.adDescriptionText{
    color: #FFF;
font-family: Istok Web;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.adElContainer {
    width: 224px;
    height: 99px;
    position: relative;
}

.adElInnerBox {
    width: 57px;
    height: 57.58px;
    left: 13px;
    top: 6px;
    position: absolute;
}

.adElTopDecoration {
    width: 48.28px;
    height: 21.52px;
    left: 4.07px;
    top: 36.06px;
    position: absolute;
    background: #FEF2DC;
    border-radius: 13px;
}

.adElInnerBackground {
    width: 57px;
    height: 50.60px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FEE1AF;
    border-radius: 16px;
}

.adElDay {
    left: 31px;
    top: 23px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.adElWeekday {
    left: 30px;
    top: 15px;
    position: absolute;
    color: white;
    font-size: 11px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.adElTitle {
    width: 107px;
    height: 33px;
    left: 78px;
    top: 12px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
}

.adElSubtitle {
    width: 107px;
    height: 33px;
    left: 78px;
    top: 31px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}


.currentAdElContainer {
    width: 208.16px;
    height: 71.57px;
    position: relative;
}

.currentAdElInnerBox {
    width: 208.16px;
    height: 71.57px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.currentAdElTopDecoration {
    width: 195.63px;
    height: 51.29px;
    left: 6.56px;
    top: 20.28px;
    position: absolute;
    background: #8575DF;
    border-radius: 15px;
}

.currentAdElInnerBackground {
    width: 208.16px;
    height: 63.82px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #705FCF;
    border-radius: 15px;
}

.currentAdElDay {
    left: 31px;
    top: 23px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.currentAdElWeekday {
    left: 30px;
    top: 15px;
    position: absolute;
    color: white;
    font-size: 11px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.currentAdElTitle {
    width: 107px;
    height: 33px;
    left: 78px;
    top: 12px;
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
}

.currentAdElSubtitle {
    width: 107px;
    height: 33px;
    left: 78px;
    top: 31px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.differentAdsContainer {
    padding-top: 27px;
}


.btnContainer {
    width: 126px;
    height: 32px;
    padding: 10px;
    background: #131517;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    
}

.btnIcon {
    width: 20px;
    height: 20px;
    position: relative;
    background-image: url("../svg/Group1.svg");
}

.btnIconCircle {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 2px white solid;
}

.btnLabel {
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}
