
body {
    font-family: 'Istok Web', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Istok Web', sans-serif;
    font-weight: 700; /* Применить полужирное начертание к заголовкам (если необходимо) */
}
  body {
    background-color: #1F2027;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo-right-bottom {
    display: none;
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.main-content {
    background-color: #1F2027;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* padding: 20px; */
}

.logo-container img {
    width: 32px;
    height: 46px;
}

.logo {
    width: 80px; /* Уменьшил размер логотипа */
    height: auto;
    margin-right: 10px; /* Добавил небольшой отступ между логотипом и текстом */
}

.logo-text p {
    color: #fff;
    font-weight: bold;
    margin: 0;
    font-size: 20px; /* Изменил размер шрифта для текста рядом с логотипом */
}

.container {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю (для одной высоты) */
    justify-content: space-between; /* Равномерное распределение между sidebar и main-content */
    padding: 0px;
}

.sidebar {
    width: 175px;
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #242832;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* border-radius: 35px; */
    position: fixed; /* Фиксируем на одном месте */
    top: 0; /* Прибиваем к верху */
    left: 0; /* Прибиваем к левому краю */
}


.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.menu ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    margin-left: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}


.menu ul li a:hover {
    background-color: #6C5DD2;
}
.menu p{
    color: #61636A;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 0px 0; 
    margin-left: 175px;  /* Это соответствует ширине вашего sidebar */

}

.container {
    display: flex;
    justify-content: space-between; /* Размещаем блоки с пробелом между ними */
    align-items: flex-start; /* Выравниваем блоки сверху */
    margin: 20px 0; /* Добавляем отступы снизу и сверху */
}

.lefted-box {
    max-width: 100%;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    border-radius: 35px;
    height: 940px;
    text-align: center;
    background-color: #242832;
    padding: 33px 20px 20px 20px;
    position: relative; 
}


.centered-box {
    flex: 0 0 70%; /* Занимаем 75% ширины контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 35px;
    height: 940px;
    text-align: center;
    background-color: #242832;
    padding: 20px; /* Добавляем отступы внутри блока */
}

.image-container {
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
.ad-text {
    color: white;
    font-size: 24px;
    font-family: Istok Web;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center; 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: #fff;
}

.edit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 146px;
    height: 52px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

.edit-button:hover {
    background-color: #513bde;
}

/* Стили для .description */
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left; /* Выравниваем текст слева */
    max-width: 800px; /* Максимальная ширина текста */
    margin-top: 20px; /* Отступ сверху над текстом */
}

.description h2 {
    font-size: 24px; /* Размер шрифта для заголовка "Описание" */
    margin-bottom: 10px;
    color: white;
}
.description .text {
    color: #fff;
}

.centered-box .text-container {
    align-self: flex-start;   
    text-align: left;   
    margin-left: 15px;     
    color: white;
    /* width: 100%;             */
}

.text-container h1{
    font-size: 24px;
}
.text-container h2{
    font-size: 16px;
}
.text-container h3{
    font-size: 14px;
}

.info-card {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 40px;
}

.circle {
    width: 57px;
    height: 50px;
    left: 30px;
    top: 0px;
    position: absolute;
    border-radius: 16px;
}

.rectangle {
    width: 264px;
    height: 63.82px;
    left: -10px;
    top: -7px;
    position: absolute;
    border-radius: 15px;
}

.text-title, .text-large, .text-status, .currency {
    position: absolute;
    color: white;
    font-family: Istok Web;
    word-wrap: break-word;
}

.text-title {
    left: 95px;
    top: 5px;
    font-size: 16px;
    font-weight: 700;
}

.text-large {
    left: 38px;
    top: 4px;
    font-size: 32px;
    font-weight: 700;
}

.text-status {
    left: 110px;
    top: 25px;
    font-size: 14px;
    font-weight: 400;
}

.currency {
    left: 6px;
    top: 12px;
    font-size: 20px;
    font-weight: 400;
}

.status-dot {
    width: 9px;
    height: 9px;
    left: 95px;
    top: 30px;
    position: absolute;
    border-radius: 9999px;
}



.custom-button {
    margin-bottom: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    bottom: 0;
}

.button-content {
    width: 146px;
    height: 52px;
    padding: 10px;
    background: #131517;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
}

.plus-icon {
    width: 20px;
    height: 20px;
    position: relative;
}

.circle-border {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(217, 217, 217, 0);
    border-radius: 7px;
    border: 2px white solid;
}

.horizontal-line {
    width: 14px;
    height: 0px;
    left: 3px;
    top: 11px;
    position: absolute;
    border: 2px white solid;
}

.vertical-line {
    width: 14px;
    height: 0px;
    left: 9px;
    top: 3px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 2px white solid;
}

.button-text {
    color: white;
    font-size: 16px;
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}
