body {
    background-image: url('../img/register_page.png');
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields input {
    flex: 1; 
    margin-right: 25px; 
}

.signup {
    background-color: #202129;
    color:white;
    margin-left: 42px;
    margin-bottom: 195px;
    margin-top: 106px;
    padding: 30px 40px;
    border-radius: 10px;
    width: 600px;
}

.signup h1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 13px;
}

/* .signup h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
} */

/* .signup p {
    margin-bottom: 10px;
} */
.campaign-text {
    margin-bottom: 0;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #323644;
    background-color: #323644;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}
.signup input[type="email"],
.signup input[type="password"] {
    width: 554px;

}
.signup input[type="password"]{
    /* background-color: #565C6A; */  /* это должен быть ховер */
}


.sign-create-account{
    background-color: #6C5DD2;
}

.sign-with-account{
    background-color: #565C6A;
}

.signup button {
    display: block;
    width: 274px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 ;

}
/* .sign-create-account{
    background-color: #6C5DD2;
}

.sign-with-account{
    background-color: #565C6A;
} */

.signup button:hover {
    background-color: #513bde;
}

.name-fields-button{
    display: flex;
    justify-content: space-between;
    width: 574px;
}

.error-label {
    padding: 10px;
    color: rgba(255, 0, 0, 0.54);
}
.logo-right-bottom {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
}
