<main class="company__main">
  <div class="company__main__container">
    <div class="company__main__container__left">
      <div class="company__main__container__left__adlayout">
        <div id="company__main__container__left__adlayout__ads--list">
        </div>
        <div class="company__button--container">
          <a href="/createad">
            <button class="company__edit--button">
              Создать
            </button>
          </a>
        </div>
        <div>
          {{adList}}
        </div>
      </div>
    </div>
    <div
      class="company__main__centered--box"
      id="selected-ad"
      style="color:white"
    >
      Здесь пока ничего нет:(
    </div>
  </div>
</main>