
    <div id="budgetModal" class="budget">
       <div class="budget__background--block"></div>
        <div class="budget__header--text">Пополнить баланс:</div>
        <div class="budget_button budget__replenish--button">
            {{!-- <div class="budget__button__text">Пополнить</div> --}}
            <div id="addBalanceBtn" class="budget__button__text">Пополнить</div>
        </div>
        <div class="budget_button budget__replenish--cancel--button" id="closeBudgetModal">
            <div class="budget__button__text" >Отмена</div>
        </div>
        <div class="budget__currency--text">Руб.</div>
        <div class="budget__input">
            <input type="number" id="amount" class="budget__input__field" placeholder="Сумма">
        </div>
    </div>
    
<div class="container">
    <div class="sidebar">
        <div class="logo-container">
            <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
            <div class="logo-text">
                <p>AdHub</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <p>Admin tools</p>
                <li>
                        <img src="../../static/img/icon.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/company.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li id="budgetModalButton">
                        <img src="../../static/img/wallet.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/audience.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/settings.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/profile.png" alt="Иконка">
                        <a href="/profile">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/notification.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
            </ul>
        </div>
    </div>
    <main class="company__main">
        {{!-- <div id="budgetModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeBudgetModal">&times;</span>
            <h2>Пополнение баланса</h2>
            <p>Введите сумму для пополнения:</p>
            <input type="number" id="amount">
            <button id="addBalanceBtn">Пополнить</button>
        </div>
        </div> --}}

        <div class="company__main__container">
            <div class="company__main__container__left">
                <div class="company__main__container__left__adlayout">
                    <div id="company__main__container__left__adlayout__ads--list">
                    </div>
                        <div class="company__button--container">
                            <a href="/createad">
                                <button class="company__edit--button">
                                    Создать    
                                </button>
                            </a>
                        </div>
                    <div>

                    </div>
                </div>
            </div>

                <div class="company__main__centered--box" id="selected-ad" style="color:white">
                    <div class="company_main__survey-iframe" id="survey-iframe">

                    </div>


                    

                </div>
                  

        </div>
    </main>
</div>