<div class="container">
    <div class="sidebar">
        <div class="logo-container">
            <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
            <div class="logo-text">
                <p>AdHub</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка главной">
                    <a href="/company">Главная</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка кампании">
                    <a href="/company">Кампания</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка бюджета">
                    <a href="#">Бюджет</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка аудитории">
                    <a href="/audience">Аудитория</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка настроек">
                    <a href="#">Настройки</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка профиля">
                    <a href="/profile">Профиль</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка уведомлений">
                    <a href="#">Уведомления</a>
                </li>
            </ul>
        </div>
    </div>
    <main class="main-content">
        <div class="container">
            <div class="lefted-box">
                <div class="adlayout">
                    <div id="ad-list">
                    </div>
                        <a href="/createad"><button class="edit-button">Создать</button></a>


                    <div>

                    </div>
                </div>
            </div>

                <div class="centered-box">
                <div class="left-panel">
                </div>
                <div class="right-panel">
                    <div id="selected-ad">
                    <!-- Здесь будет отображаться выбранное объявление -->
                    </div>

                </div>
                </div>
                  

        </div>
    </main>
</div>