<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdHub</title>
   <!-- <link rel="stylesheet" href="../../static/css/login.css"> -->
    <link rel="stylesheet" href="../../static/css/company.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
</head>
<body>
<div id="root">
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                        <a href="#">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                        <a href="#">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                        <a href="#">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content">
            <div class="container">
                <div class="lefted-box">
                    <div class="info-card">
                        <div class="circle" style="background: #D3E7CA;"></div>
                        <div class="text-title">Реклама на сайте</div>
                        <div class="text-large">БТ</div>
                        <div class="text-status">Активно</div>
                        <div class="status-dot" style="background: #4DFF30;"></div>
                        <div class="arrows"></div>
                    </div>
                    <div class="info-card">
                        <div class="circle" style="background: #D3E7CA;"></div>
                        <div class="text-title">Беспилотное такси</div>
                        <div class="text-large">БТ</div>
                        <div class="text-status">Остановлено</div>
                        <div class="status-dot" style="background: #FFC530;"></div>
                        <div class="currency">₽</div>
                    </div>
                    <div class="info-card">
                        <div class="circle" style="background: #D3E7CA;"></div>
                        <div class="text-title">Реклама на сайте</div>
                        <div class="text-large">БТ</div>
                        <div class="text-status">Выключено</div>
                        <div class="status-dot" style="background: #949494;"></div>
                        <div class="arrows"></div>
                    </div>

                    <button type="button" class="custom-button">
                        <div class="button-content">
                            <div class="plus-icon">
                                <div class="circle-border"></div>
                                <div class="horizontal-line"></div>
                                <div class="vertical-line"></div>
                            </div>
                            <div class="button-text">Добавить</div>
                        </div>
                    </button>
                </div>
    
                <div class="centered-box">
                    <img class="box-image" src="../../static/img/image5.png" />
                    <div class="text-container">
                    <div class="lefted-text">
                        <div class="box-title">Bento 3D</div>
                        <div class="box-subtitle">Сфера</div>
                        <div class="box-description">Ui Design</div>
                        <div class="box-subtitle">Аудитория</div>
                        <div class="box-description">Аудитория</div>
                        <div class="box-subtitle">Бюджет</div>
                        <div class="box-description">500 000р</div>
                        <div class="box-subtitle">Целевое действие</div>
                        <div class="box-description">Переход</div>
                        <div class="box-subtitle">Ссылка</div>
                        <div class="box-description">https://www.bento-3d.com/</div>
                    </div>
                    <div class="righted-text">
                        <div class="description-container">
                        <div class="description-title">Описание</div>
                        <div class="description-text">
                            War Thunder – это самая масштабная бесплатная многопользовательская онлайн-игра из числа посвященных боевой технике. Доступны образцы времен самых разных войн и конфликтов – с начала XX века и до наших дней. Авиация, наземные силы и флот сражаются вместе в одном бою, как это и происходило в настоящих сражениях. В War Thunder можно поиграть на PC (Windows или Linux), Mac, PlayStation 4, PlayStation 5, Xbox One и Xbox Series X|S.<br><br>

В War Thunder вы можете опробовать тысячи реально существовавших моделей самолетов, ударных вертолетов, наземной техники и военных кораблей в самых разных боевых ситуациях, практически не представленных в других многопользовательских проектах. Вы будете отстреливаться из турелей бомбардировщика от висящих на хвосте врагов, прикрывать товарищей от налета авиации на скорострельной зенитке, обрушивать на противника град снарядов из  эсминцем на торпедоносце.
                        </div>
                    </div>
                </div>
                </div>
                    <button type="button" class="custom-button">
                        <div class="button-content">
                            <div class="button-text">Изменить</div>
                        </div>
                    </button>
                </div>

                

                
            </div>
        </main>
    </div>
</div>
<img id="image" class="logo-right-bottom" class="list-none" src="static/img/logo_ad.png" alt="Описание изображения">
<script src="/handlebars/dist/handlebars.runtime.js"></script>
<script src="/components/login/login.precompiled.js"> </script>
<script src="/components/signup/signup.precompiled.js"> </script>
<script src="/components/list/list.precompiled.js"> </script>
<script type="module" src="./index.js"></script>
</body>
</html>
