<form class="signup">
    <h1>Начни свою рекламную кампанию</h1>
    <h2>Создать новый аккаунт</h2>
    <p>Уже есть аккаунт? <a href="/login">Войти</a></p>

    <input type="text" placeholder="Имя" id="f_name">
    <input type="text" placeholder="Фамилия" id="l_name">
    <input type="email" placeholder="Почта" id="login">
    <input type="password" placeholder="Пароль" id="password">
    <div class="error-label"></div>
    <button>Создать аккаунт</button>
</form>
