<form class="signup">
    <h1>Начни свою рекламную кампанию</h1>
    <h2>Создать новый аккаунт</h2>
    <p>Уже есть аккаунт? <a href="index.html">Войти</a></p>

    <input type="text" placeholder="Имя">
    <input type="text" placeholder="Фамилия">
    <input type="email" placeholder="Почта">
    <input type="password" placeholder="Пароль">
    <button>Создать аккаунт</button>
</form>