<main class="profilead__main">
  <div class="profilead__main__container">
    <div class="profilead__main__container__left">
      <div class="profilead__main__container__left__adlayout">
        <div id="profilead__main__container__left__adlayout__ads--list">
        </div>
        <div class="profilead__button--container">
          <div class="audience-content__button-content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <rect
                x="1"
                y="1"
                width="18"
                height="18"
                rx="6"
                stroke="white"
                stroke-width="2"
              />
              <line
                x1="3"
                y1="10"
                x2="17"
                y2="10"
                stroke="white"
                stroke-width="2"
              />
              <line
                x1="10"
                y1="3"
                x2="10"
                y2="17"
                stroke="white"
                stroke-width="2"
              />
            </svg>
            <a style="text-decoration: none;" href="/announcement">
              <div class="profilead-content__button-text">
                Добавить
              </div>
            </a>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>

    <div class="profilead__main__centered--box" id="selected-ad">

    </div>
  </div>
</main>