<div class="signup_body">
    <form class="signup-form">
        <p class="signup-form__name">Начни свою рекламную кампанию</p>
        <h1 class="signup-form__header">Создать новый аккаунт</h1>
        <p class="signup-form__paragraph">Уже есть аккаунт? <a class="signup-form__link" href="/login">Войти</a></p>
        <div class="signup-form__name-inputs">
            <input class="signup-form__input" type="text" placeholder="Имя" id="f_name">
            <input class="signup-form__input" type="text" placeholder="Фамилия" id="l_name">
        </div>
        <input class="signup-form__input" type="email" placeholder="Почта" id="login">
        <input class="signup-form__input" type="password" placeholder="Пароль" id="password">
        <div class="signup-form__error-label"></div>
        <div class="signup-form__buttons">
            <button class="signup-form__with-button signup-form__button"><a style="text-decoration: none; color:white" href="/login">Войти</a></button>
            <button class="signup-form__create-button signup-form__button">Создать аккаунт</button>
        </div>
    </form>
</div>
