<div class="sidebar-mobile__menu">
  <button class="mobile-menu-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20px"
      height="20px"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M4 18L20 18"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M4 12L20 12"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M4 6L20 6"
        stroke="#000000"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </button>
</div>
<div class="sidebar__logo-container">
  <img
    src="../../static/img/logo_ad.png"
    alt="Логотип"
    class="sidebar__logo"
    width="38"
    height="38"
  />
  <div class="sidebar__logo-text">
    <p>AdHub</p>
  </div>
</div>
<div class="sidebar__menu">
  <ul>
    <p>Admin tools</p>
    <li>
      <img src="../../static/img/icon.png" alt="Иконка" />
      <a href="/profilead">Площадки</a>
    </li>
    <li>
      <img src="../../static/img/company.png" alt="Иконка" />
      <a href="/company">Кампания</a>
    </li>
    <li id="budgetModalButton">
      <img src="../../static/img/wallet.png" alt="Иконка" />
      <a href="#">Бюджет</a>
    </li>
    <li>
      <img src="../../static/img/audience.png" alt="Иконка" />
      <a href="/audience">Аудитория</a>
    </li>
    <li>
      <img src="../../static/img/settings.png" alt="Иконка" />
      <a href="#">Настройки</a>
    </li>
    <p>Profile</p>
    <li>
      <img src="../../static/img/profile.png" alt="Иконка" />
      <a href="/profile">Профиль</a>
    </li>
    <li>
      <img src="../../static/img/notification.png" alt="Иконка" />
      <a href="#">Уведомления</a>
    </li>
    <li class="sidebar-mobile__menu__close-button">
      <img src="../../static/img/cross.svg" alt="Иконка" />
      <a href="#">Закрыть</a>
    </li>
  </ul>
</div>