<div class="container">
    <div class="sidebar">
        <div class="logo-container">
            <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
            <div class="logo-text">
                <p>AdHub</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                    <a href="#">Главная</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                    <a href="#">Кампания</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                    <a href="#">Бюджет</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                    <a href="#">Аудитория</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                    <a href="#">Настройки</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                    <a href="#">Профиль</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                    <a href="#">Уведомления</a>
                </li>
            </ul>
        </div>
    </div>
    <main class="main-content">
        <div class="container">
            <div class="lefted-box">
                <div class="adlayout">

                    <div class="currentAdElContainer">
                        <div class="currentAdElInnerBox">
                            <div class="currentAdElTopDecoration"></div>
                            <div class="currentAdElInnerBackground"></div>
                        </div>
                        <div class="currentAdElDay">21</div>
                        <div class="currentAdElWeekday">Wed</div>
                        <div class="currentAdElTitle">Bento 3D</div>
                        <div class="currentAdElSubtitle">Ui Design</div>
                    </div>

                    <div class="differentAdsContainer">
                        <div class="adElContainer">
                            <div class="adElInnerBox">
                                <div class="adElTopDecoration"></div>
                                <div class="adElInnerBackground"></div>
                            </div>
                            <div class="adElDay">21</div>
                            <div class="adElWeekday">Wed</div>
                            <div class="adElTitle">Bento 3D</div>
                            <div class="adElSubtitle">Ui Design</div>
                        </div>

                        <div class="adElContainer">
                            <div class="adElInnerBox">
                                <div class="adElTopDecoration"></div>
                                <div class="adElInnerBackground"></div>
                            </div>
                            <div class="adElDay">21</div>
                            <div class="adElWeekday">Wed</div>
                            <div class="adElTitle">Bento 3D</div>
                            <div class="adElSubtitle">Ui Design</div>
                        </div>

                        <div class="adElContainer">
                            <div class="adElInnerBox">
                                <div class="adElTopDecoration"></div>
                                <div class="adElInnerBackground"></div>
                            </div>
                            <div class="adElDay">21</div>
                            <div class="adElWeekday">Wed</div>
                            <div class="adElTitle">Bento 3D</div>
                            <div class="adElSubtitle">Ui Design</div>
                        </div>
                    </div>
                        <button class="edit-button">Добавить</button>  



                    <div>

                    </div>
                </div>
            </div>

            <div class="centered-box">
                <div class="image-container">
                    <img src="../../static/img/image5.png" alt="Фото">
                </div>
                <div class="description">
                    <h2>Описание</h2>
                    <div class="text">
                        <p>War Thunder – это самая масштабная бесплатная многопользовательская онлайн-игра из числа
                            посвященных боевой технике. Доступны образцы времен самых разных войн и конфликтов – с
                            начала XX века и до наших дней. Авиация, наземные силы и флот сражаются вместе в одном
                            бою, как это и происходило в настоящих сражениях. В War Thunder можно поиграть на PC
                            (Windows или Linux), Mac, PlayStation 4, PlayStation 5, Xbox One и Xbox Series X|S.</p>
                        <p>В War Thunder вы можете опробовать тысячи реально существовавших моделей самолетов,
                            ударных вертолетов, наземной техники и военных кораблей в самых разных боевых ситуациях,
                            практически не представленных в других многопользовательских проектах. Вы будете
                            отстреливаться из турелей бомбардировщика от висящих на хвосте врагов, прикрывать
                            товарищей от налета авиации на скорострельной зенитке, обрушивать на противника град
                            снарядов из эсминцем на торпедоносце.</p>
                    
                </div>
                <button class="edit-button">Изменить</button>   

            </div>
        </div>
    </main>
</div>