<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdHub</title>
   <!-- <link rel="stylesheet" href="../../static/css/login.css"> -->
    <link rel="stylesheet" href="../../static/css/createad.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
</head>
<body>
<div id="root">
    <div class="container">
        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                        <a href="#">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                        <a href="#">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                        <a href="#">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="main-content">
            <div class="container">

    
                <div class="centered-box">
                    <div class="left-block">
                    <div class="container xlarge">
                        <input type="text" class="text-input" placeholder="Заголовок">
                    </div>
                    <div class="container xxlarge">
                        <textarea class="text-input" placeholder="Описание"></textarea>
                    </div>
                    <div class="container xlarge">
                        <input type="text" class="text-input" placeholder="Ссылка на сайт">
                    </div>
                    <div style="display: flex;">
                        <div class="container small">
                            <input type="text" class="text-input" placeholder="Бюджет">
                        </div>
                        <div class="container medium">
                            <input type="text" class="text-input" placeholder="Аудитория">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="container large">
                            <input type="text" class="text-input" placeholder="Медиафайлы">
                        </div>
                        <button class="button-container">
                            <div class="cross-icon">
                                <div class="horizontal-line"></div>
                                <div class="vertical-line"></div>
                            </div>
                            <div class="button-text">Загрузить</div>
                        </button>
                    </div>
                </div>
                    <div class="right-block">
                    <div class="label">Предпросмотр:</div>
                    <label for="photoUpload" class="photo-upload-label">
                        <input type="file" id="photoUpload" class="file-input" accept="image/*">
                        <div class="gradient-box"></div>
                    </label>                        
                    <div class="label">Название:</div>
                        <div class="label">Описание:</div>
                    </div>
                    <button class="action-box">
                        <div class="cross-icon">
                            <div class="horizontal"></div>
                            <div class="vertical"></div>
                        </div>
                        <div class="bold-label">Создать</div>
                    </button>
                </div>
                
                </div>
            
        </main>
    </div>
</div>
<img id="image" class="logo-right-bottom" class="list-none" src="static/img/logo_ad.png" alt="Описание изображения">
<script src="/handlebars/dist/handlebars.runtime.js"></script>
<script src="/components/login/login.precompiled.js"> </script>
<script src="/components/signup/signup.precompiled.js"> </script>
<script src="/components/list/list.precompiled.js"> </script>
<script type="module" src="./index.js"></script>
</body>
</html>
