<div class="container">
    <div class="sidebar">
        <div class="logo-container">
            <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
            <div class="logo-text">
                <p>AdHub</p>
            </div>
        </div>
        <div class="menu">
            <ul>
                <p>Admin tools</p>
                <li>
                    <img src="../../static/img/free-icon-home-7941430_2.png" alt="Иконка">
                    <a href="#">Главная</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-front-end-6489421_2.png" alt="Иконка">
                    <a href="#">Кампания</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-wallet-482541.png" alt="Иконка">
                    <a href="#">Бюджет</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-people-3633274.png" alt="Иконка">
                    <a href="#">Аудитория</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-cogwheel-6186867_2.png" alt="Иконка">
                    <a href="#">Настройки</a>
                </li>
                <p>Profile</p>
                <li>
                    <img src="../../static/img/free-icon-user-4743186.png" alt="Иконка">
                    <a href="#">Профиль</a>
                </li>
                <li>
                    <img src="../../static/img/free-icon-notification-8860191.png" alt="Иконка">
                    <a href="#">Уведомления</a>
                </li>
            </ul>
        </div>
    </div>
    <main class="main-content">
        <div class="container">
            <div class="centered-box">
            <form class="createad" action="/" method="POST">
                <div class="left-block">
                    <div class="container xlarge">
                        <input type="text" class="text-input" placeholder="Заголовок" id="name">
                    </div>
                    <div class="container xxlarge">
                        <textarea class="text-input" placeholder="Описание" id="description"></textarea>
                    </div>
                    <div class="container xlarge">
                        <input type="text" class="text-input" placeholder="Ссылка на сайт" id="website_link">
                    </div>
                    <div style="display: flex;">
                        <div class="container small">
                            <input type="text" class="text-input" placeholder="Бюджет" id="budget">
                        </div>
                        <div class="container medium">
                            <input type="text" class="text-input" placeholder="Аудитория" id="target_id">
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="container large">
                            <input type="text" class="text-input" placeholder="Медиафайлы">
                        </div>
                        <button class="button-container">
                            <div class="cross-icon">
                                <div class="horizontal-line"></div>
                                <div class="vertical-line"></div>
                            </div>
                            <div class="button-text">Загрузить</div>
                        </button>
                    </div>
                </div>
            
                <button class="action-box" id="submitBtn">
                    <div class="cross-icon">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>
                    <div class="bold-label">Создать</div>
                </button>
            </form>

                            <div class="right-block">
                    <div class="label">Предпросмотр:</div>
                    <label for="photoUpload" class="photo-upload-label">
                        <input type="file" id="photoUpload" class="file-input" accept="image/*">
                        <div class="gradient-box"></div>
                    </label>
                    <div class="label">Название:</div>
                    <div class="label">Описание:</div>
                </div>
            </div>
        </div>
    </main>
</div>
