<div class="survey">
     <div class="survey__close-button" id="closeBtn">&times;</div>
     {{!-- если что это крестик - типо я крутой --}}
    <div class="survey__question" id="question">
        <h1>Насколько было удобно пользовать AdHub?</h1>
    </div>
    <div class="survey__ratings" id="ratings">
        
    </div>
    <div class="survey__rate-button" id="rateBtn">
        <button>Оценить</button>
        {{!-- <p class="survey__lefted_title">фу, вы так себе</p>
        <p class="survey__right_title">вы очень крутые!</p>  --}}
    </div>
    <div class="survey__error-button" id="errorBtn">

    </div>
</div>
