<div class="survey">
    <div class="survey__question" id="question">

    </div>
    <div class="survey__ratings" id="ratings">

    </div>
    <div class="survey__rate-button" id="rateBtn">

    </div>
</div>