        <div class="sidebar">
            <div class="logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="logo">
                <div class="logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/icon.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/company.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/wallet.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/audience.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/settings.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/profile.png" alt="Иконка">
                            <a href="/profile">Профиль</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-element">
                            <img src="../../static/img/notification.png" alt="Иконка">
                            <a href="#">Уведомления</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>