    <div class="audience-container">
        <div class="audience-sidebar">
            <div class="audience-sidebar__logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="audience-sidebar__logo">
                <div class="audience-sidebar__logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="audience-sidebar__menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/icon.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/company.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li id="budgetModalButton">
                        <img src="../../static/img/wallet.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/audience.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/settings.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/profile.png" alt="Иконка">
                        <a href="/profile">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/notification.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="audience-content">
            <div class="audience-content__container">
                <div class="ac__centered-box">
                        <div class="lefted-block">
                <div class="container-title">
                        <div class="label">Регион</div>
                        <div class="custom-dropdown">
                            <input type="text" class="input-field" placeholder="Поиск">
                            <div class="arrow-icon">Россия &#8249;</div>
                            <div class="audience__checkbox">
                                <input type="checkbox" class="regions" value="Balashikha">
                                <label for="anyGender">Балашиха</label>
                            </div>
                            <div class="audience__checkbox">
                                <input type="checkbox" class="regions" value="Moscow">
                                <label for="anyGender" >Москва</label>
                            </div>
                            <div class="audience__checkbox">
                                <input type="checkbox" class="regions" value="SPB">
                                <label for="anyGender" >СПБ</label>
                            </div>
                            <div class="audience__checkbox">
                                <input type="checkbox" class="regions" value="Kazan">
                                <label for="anyGender" >Казань</label>
                            </div>
                        </div>
                        <div class="other-element"></div>
                        
                        </div>
                        <div class="region-info">
                            <div class="region-title">Выбранные регионы:
                            <div class="region-details">
                                <div class="icon">
                                    <div>
                                        <div></div>
                                    </div>
                                </div>
                                <div class="audience__region-list">
                                    <div class="region-name">Балашиха</div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="right-block">
                        <div>
                            <label for="textEntry1" class="text-entry-label">
                                <input type="text" id="name" name="name" class="text-input" placeholder="Название">
                                
                            </label>
                        </div>
                        <div class="gradient-box" id="textEntryContainer">
                            <label for="textEntry1" class="text-entry-label">
                                <input type="text" id="interests" name="interests" class="text-input" placeholder="Введите ключевые фразы, через запятую">
                                
                            </label>
                        </div>
                    
                    <div class="gradient-box" id="textEntryContainer">
                    <label for="textEntry1" class="text-entry-label">
                        <input type="text" id="keys" name="keys" class="text-input" placeholder="Введите ключевые фразы, через запятую">
                        
                    </label>
                </div>
                <div class="gradient-box">
                    <label for="textEntry2" class="text-entry-label">
                        <input type="text" id="tags" name="tags" class="text-input" placeholder="Введите теги, через запятую">
                    </label>
                </div>
                <div class="demographics-info">
                    <div class="info-column">
                        <div class="info-item">
                            <div style="font-size: 18px;">Демография</div>
                        </div>
                        <div class="info-item">
                            <div>Пол</div>
                            <div>
                                <input type="checkbox" class="gender" value="Any">
                                <label for="anyGendаer">Любой</label>
                            </div>
                            <div>
                                <input type="checkbox" class="gender" value="Female">
                                <label for="femaleGender">Женский</label>
                            </div>
                            <div>
                                <input type="checkbox" class="gender" value="Male">
                                <label for="maleGender">Мужской</label>
                            </div>
                        </div>
                    </div> <!-- Закрытие первой колонки -->
                
                    <div class="info-column info-item-right"> <!-- Начало второй колонки -->
                        <div class="info-item">
                            <div>Возраст</div>
                        </div>
                        <div class="info-item">
                            <div class="age-range-wrapper"> 
                                <div class="age-range">
                                    <input type="text" id="min_age" name="min_age" class="text-input" placeholder="От">
                                </div>
                                <div class="age-range">
                                    <input type="text" id="max_age" name="max_age" class="text-input" placeholder="До">
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
                </div>
                
                <div class="btn-container">
                    <button class="btn edit-btn">
                        <span class="btn-text">Создать</span>
                    </button>
            
                </div>    
                
                </div>
               
            </div>
        </main>
    </div>