    <div class="audience-container">
        <div class="audience-sidebar">
            <div class="audience-sidebar__logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="audience-sidebar__logo">
                <div class="audience-sidebar__logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="audience-sidebar__menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/icon.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/company.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li id="budgetModalButton">
                        <img src="../../static/img/wallet.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/audience.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/settings.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/profile.png" alt="Иконка">
                        <a href="/profile">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/notification.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="audience-content">
            <div class="audience-content__container">
                <div class="audience-content__lefted-box">
                    <div id="target-list">
                    </div>
                    <button type="button" class="audience-content__custom-button">
                        <div class="audience-content__button-content">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <rect x="1" y="1" width="18" height="18" rx="6" stroke="white" stroke-width="2"/>
                                    <line x1="3" y1="10" x2="17" y2="10" stroke="white" stroke-width="2"/>
                                    <line x1="10" y1="3" x2="10" y2="17" stroke="white" stroke-width="2"/>
                                </svg>
                            <a href="/audiencecreate"><div class="audience-content__button-text">Добавить</div></a>
                        </div>
                    </button>
                </div>
                
    
                <div class="audience-content__centered-box">
                    
                </div>
               
            </div>
        </main>
    </div>