    <div class="audience-container">
        <div class="audience-sidebar">
            <div class="audience-sidebar__logo-container">
                <img src="../../static/img/logo_ad.png" alt="Логотип" class="audience-sidebar__logo">
                <div class="audience-sidebar__logo-text">
                    <p>AdHub</p>
                </div>
            </div>
            <div class="audience-sidebar__menu">
                <ul>
                    <p>Admin tools</p>
                    <li>
                        <img src="../../static/img/icon.png" alt="Иконка">
                        <a href="/company">Главная</a>
                    </li>
                    <li>
                        <img src="../../static/img/company.png" alt="Иконка">
                        <a href="/company">Кампания</a>
                    </li>
                    <li>
                        <img src="../../static/img/wallet.png" alt="Иконка">
                        <a href="#">Бюджет</a>
                    </li>
                    <li>
                        <img src="../../static/img/audience.png" alt="Иконка">
                        <a href="/audience">Аудитория</a>
                    </li>
                    <li>
                        <img src="../../static/img/settings.png" alt="Иконка">
                        <a href="#">Настройки</a>
                    </li>
                    <p>Profile</p>
                    <li>
                        <img src="../../static/img/profile.png" alt="Иконка">
                        <a href="/profile">Профиль</a>
                    </li>
                    <li>
                        <img src="../../static/img/notification.png" alt="Иконка">
                        <a href="#">Уведомления</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="audience-content">
            <div class="audience-content__container">
                <div class="audience-content__lefted-box">
                    <div id="target-list">
                    </div>
                    <button type="button" class="audience-content__custom-button">
                        <div class="audience-content__button-content">
                            <div class="audience-content_plus-icon">
                                <div class="audience-content__circle-border"></div>
                                <div class="audience-content__horizontal-line"></div>
                                <div class="audience-content__vertical-line"></div>
                            </div>
                            <a href="/audiencecreate"><div class="audience-content__button-text">Добавить</div></a>
                        </div>
                    </button>
                </div>
                
    
                <div class="audience-content__centered-box">
                </div>
               
            </div>
        </main>
    </div>